@using WorkFlowlAPI
@model eQuotation.Models.Quotes.QuotesViewModel
<style>
    .totalMargin {
        margin: 5px;
        font-size: 14px;
    }

    .GP_Info {
        color: black;
        font-size: 12.0pt;
        text-decoration: none;
        font-family: Arial;
        text-align: left;
    }
</style>

<div class="titlebox topbox">
    <h4>报价单GP确认:</h4>
</div>
<div class="actionbox">
    <ul>
        @if (Model.FindApproverResult == FindApproverResult.NeedApprovalForGP)
        {
            <li>
                <a id="btn-Approval-confirm"><i class="fa fa-check-square-o"></i>Confirm</a>
            </li>
        }
        <li>
            <a id="btn-Approval-cancel"><i class="fa fa-times"></i>Cancel</a>
        </li>
    </ul>
</div>

@Html.Partial("_QuoteDetails", @Model)

@if (Model.FindApproverResult == FindApproverResult.SalesSectorNotFound)
{
    <h2 align="center" style="color: #FF0000;">业务 @Model.SalesEmail 未定义Sector与簽核者，确认簽核规则失败，无法建立报价单</h2>
}
else
{
    <div style="margin:10px;">
        <h4>Special Price Comment:</h4>
        <span style="color:red;">@Model.CommentExp</span>
        @Html.TextArea("Comment", new { style = "height:100px;" })
    </div>
}



   
@if ((Model.FindApproverResult == FindApproverResult.NeedApprovalForGP)
                && Model.QuoteApprovalList != null)
{
    <div id="quoteApproverList">
        @Html.Partial("_QuoteApproverList", @Model)
    </div>
    
}
@Html.Partial("_AlertDialog")

<script type="text/javascript">
    $(function () {
        //cancel button
        $("#btn-Approval-cancel").on("click", function (e) {
            var quoteID = "@Model.QuoteID";
            $.modal.close();
        });

        //Confirm and start approval process
        $("#btn-Approval-confirm").on("click", function (e) {
            if ($("#Comment").val() == "") {
                alert('Special Price Comment 为必填');
                e.preventDefault();
                return false;
            }

            var SalesCode = new Array(); SalesName = new Array();
            ar_Sales = $("#aSales").tokenInput("get");
            $.each(ar_Sales, function (i, value) {
                SalesCode.push(ar_Sales[i].id);
                SalesName.push(ar_Sales[i].name);
            });
            if ($("#Freight").val() == '') {
                $("#Freight").val('0');
            }
            var freight = parseFloat($("#Freight").val()).toFixed(2);

            //Confirm and create Quote
            confirmAndCreateQuote2(SalesCode, SalesName, $("#Description").val(), $("#ddlContact").val(), $("#AccountName").val(), freight, $("#Warranty").val(),
                $("#Comment").val(), '', $('#txtExpiredDate').val(), '');

            //if (confirmResult)
            //{

            //    $.modal.close();
            //}

        });
    });

    function confirmAndCreateQuote2(salesCode, salesName, description, contactRowId, accountName, freight, warranty, comment, quotationNote, expiredDate, pono) {
        var postdata = JSON.stringify({
            SalesCode: salesCode, SalesName: salesName, Description: description, ContactRowID: contactRowId
            , AccountName: accountName, Freight: freight, Warranty: warranty
                    , Comment: comment, QuotationNote: quotationNote, ExpiredDate: expiredDate, PONO: pono
        });
        $.ajax({
            url: "/Quotes/Confirm", type: "POST", dataType: "json", data: postdata, async: false
            , contentType: "application/json; charset=utf-8", success: function (redata) {
                if (redata.succeed) {

                    initContent('@Url.Action("MyQuotation", "Quotes")');
                    $.modal.close();
                } else {
                    alert(redata.err);
                    //return false;
                }
            }
        });
    }

    function CancelQuoteApproval(quoteID) {
        $.ajax({
            url: "/Quotes/CancelQuoteApproval",
            type: "POST",
            dataType: "json",
            data: "{quoteID:'" + quoteID + "'}",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (redata) {
                if (redata.succeed) {
                } else {
                    alert(redata.err);
                }
            }
        });
    }

</script>

