@using WorkFlowlAPI
@model eQuotation.ViewModels.QuoteForm.QuoteFormViewModel

<div class="titlebox topbox">
    <h4>Approval Confirm:</h4>
</div>
<div style="margin:10px;">
    <div class="actionbox">
        <ul>
            @if (Model.FindApproverResult == FindApproverResult.NeedApprovalForGP)
            {
                <li>
                    <button id="btn-Approval-confirm" type="submit" name="submitButton" value="ConfirmAfterCheck"><i class="fa fa-check-square-o"></i>Confirm</button>
                </li>
            }
            <li>
                <a id="btn-Approval-cancel"><i class="fa fa-times"></i>Cancel</a>
            </li>
        </ul>
    </div>
    <div style="margin:10px;">
        @if (Model.FindApproverResult == FindApproverResult.SalesSectorNotFound)
        {
            <h2 align="center" style="color: #FF0000;">业务 @Model.SalesEmail 未定义Sector与簽核者，确认簽核规则失败，无法建立报价单</h2>
        }
        else
        {
            <div class="approval-quoteItem" style="pointer-events: none;">
                @*@Html.Partial("~/Views/Shared/QuoteCart/_ACN_QuoteCartPartial.cshtml", Model.quote)*@
                @Html.Partial("~/Views/Shared/QuoteDetails/_ACN_QuoteDetails.cshtml", Model.quote)
            </div>

            <h4>Special Price Comment:</h4>

            <span style="color:red;">"*销售必填项：最终客户名称，最终客户价格，MOQ，项目名称，项目预计总数量，项目持续时间，今年预计出货数量，DI任务号"</span>         
            @Html.TextAreaFor(m => m.ApprovalReason, new { style = "height:100px;" })
            <div id="quoteApproverList">
                @Html.Partial("~/Views/Shared/QuoteApprovalList/_ACN_QuoteApproverList.cshtml", @Model.QuoteApproval,
                    new ViewDataDictionary()
                    {
                        TemplateInfo = new System.Web.Mvc.TemplateInfo
                        {
                            HtmlFieldPrefix = "QuoteApproval"
                        }
                    })
            </div>
        }
    </div>
</div>

<script>
    $("#btn-Approval-confirm").on("click", function () {
        if ($("#ApprovalReason").val() == "") {
            alert('Special Price Comment 为必填');;
            return false;
        }
    });

</script>