@model eQuotation.Entities.AppRole

@if (Model != null)
{
    using (Ajax.BeginForm("NewRole", "admin", null,
        new AjaxOptions()
        {
            HttpMethod = "POST",
            OnBegin = "onNewRoleBegin",
            OnSuccess = "onNewRoleSuccess"
        }))
    {
        <div class="modal-action">
            <ul>
                <li><button type="submit" class="clear"><i class="fa fa-floppy-o"></i> Save</button></li>
                <li><a id="close-newrole"><i class="fa fa-times"></i> Close</a></li>
            </ul>
        </div>
        <div class="modal-content">
            <div class="newrole">
                <div><span>Region:</span></div>

                @if (User.IsInRole(Model.Region + " Administrator"))
                {
                    <div>@Html.TextBoxFor(mdl => mdl.Region)</div>
                }
                else
                {
                    <div>@Html.TextBoxFor(mdl => mdl.Region, new { @readonly = "readonly" })</div>
                }

                @*<div><span>Sector:</span></div>*@
                @*<div>@Html.TextBoxFor(mdl => mdl.Sector)</div>*@
                <div><span>Role Name:</span></div>
                <div>@Html.TextBoxFor(mdl => mdl.Name)</div>
                <div><span>Role Description:</span></div>
                <div>@Html.TextAreaFor(mdl => mdl.Description)</div>
            </div>
        </div>

    }
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#close-newrole").on("click", function () {
            $.modal.close();
            $.blockUI();
            $.get("/admin/rolemanager", function (data) {
                $.pushHTML(data, function () { $("#wrapper-content").html(data); }); $.unblockUI();
            })
        });
    })

    function onNewRoleBegin(data) { $.blockUI(); }

    function onNewRoleSuccess(data) {
        $.pushHTML(data, function () {
            if (data.succeed == true)
                alert("Role has been created successfully.");
        });
        $.unblockUI();
    }

</script>