@using WorkFlowlAPI
@model eQuotation.Models.Quotes.QuotesViewModel
<style>
    .quoteApproverList {
        padding-top: 20px;
        width: 700px;
        margin: 0px auto;
    }

    .panel {
        border: 1px solid #E8E8E8;
        border-radius: 3px;
    }

    .quoteapprover_table {
        padding: 5px;
        border: 1px solid #E8E8E8;
        border-radius: 3px;
    }

    .quoteapprover_table .column-name {
        font-weight: bold;
        font-size: 14px;
    }

    .panel-heading {
        background-color: #F5F5F5;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        height: 45px;
        vertical-align: middle;
        line-height: 45px;
    }

    .quoteapprover_table tr.row-data {
        margin-top: 5px;
        border-top: 1pt solid #E8E8E8;
    }

    .quoteapprover_table tr.row-data > td {
        padding-top: 1em;
    }

    /* The Modal (background) */
    .PSM-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    }

    /* Modal Content/Box */
    .select-PSM-modal-content {
        background-color: #fefefe;
        margin: 8% auto; /* 15% from the top and centered */
        padding: 9px;
        border: 1px solid #888;
        width: 55%; /* Could be more or less, depending on screen size */
        border-radius: 5px;
        max-height: 600px;
    }

    /* The Close Button */
    .PSM-modal-close {
        color: #aaa;
        float: right;
        font-size: 18px;
        font-weight: bold;
    }

    .PSM-modal-close:hover, .PSM-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #btn-selectPSM {
        margin: 10px;
    }

    .selectPSM {
        float:right;
    }



</style>

<div class="quoteApproverList">
    <!-- The PSM Selection Modal -->
    <div id="select-PSM-modal" class="PSM-modal">
        <!--PSM Selection Modal content -->
        <div class="select-PSM-modal-content">
            <span class="PSM-modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
            <p></p>
        </div>
    </div>



    <div class="panel panel-default">
        @if (Model.QuoteApprovalList !=null && Model.QuoteApprovalList.Count() > 0)
        {
            <!-- Default panel contents -->
            <div class="panel-heading">
                Quotation @Model.QuoteNo approval process:
            </div>

            <!-- Table -->
            <table class="quoteapprover_table">
                <tr>
                    <td class="column-name" width="70px;">Level</td>
                    @*<td class="column-name" width="100px;">GP</td>*@
                    <td class="column-name" width="220px;">Approver</td>
                    <td class="column-name">Status</td>
                    <td class="column-name">Comments</td>
                </tr>
                @foreach (var approval in Model.QuoteApprovalList.OrderBy(a => a.LevelNum))
                {
                    <tr class="row-data"  data-value='@approval.UID'>
                        <td width="70px;">@approval.LevelNum.ToString("0.0")</td>
                        @*@if (!@String.IsNullOrEmpty(approval.ApproverType))
                        {
                            <td> @(Convert.ToDouble(approval.ApproverType) * 100) %</td>
                        }*@
                        <td>@approval.Approver</td>


                        @if (approval.Status == 1)
                        {
                        var reason = String.IsNullOrEmpty(approval.ApprovedReason) || (approval.ApprovedReason != null && approval.ApprovedReason.Contains("MobileApprove")) ? "" : approval.ApprovedReason;
                            <td>Agree</td>
                            if (Model.ApprovedCommentIsViewable)
                            {
                                <td>@reason</td>
                            }
                        }
                        else if (approval.Status == -1)
                        {
                            var reason = String.IsNullOrEmpty(approval.RejectReason) || (approval.RejectReason != null && approval.RejectReason.Contains("MobileApprove")) ? "" : approval.RejectReason;
                            <td style="color: #FF0000;">Reject</td>
                            <td>@reason</td>
                        }
                        else
                        {
                            <td>Waiting for approval</td>
                        }

                    </tr>
                }
            </table>
        }
        else
        {
            <div class="panel-heading">@Model.QuoteNo no need for approval</div>
        }
    </div>


</div>